<ul id="post-list" class="<%= model.guid && model.pagination.current.number < 2 ? 'home' : '' %>">
  <% model.pagination.pageData.forEach(function(post, index) { %>
  <% if (index == 1 && model.guid && !model.pagination.first) { %>
    <li>
      <script>
        amzn_assoc_tracking_id = "devextent06-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B088BC5HMM";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "bb45c084db290b8e22c28990318e142f";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </li>
    <% } %>
  <li class="post-list-item">
    <% if (index < 1) { %>
    <!-- image -->
    <% if (post.image && model.guid && !model.pagination.first) { %>
    <img
      height="350"
      width="927"
      class="post-image post-index"
      alt="<%= post.imageAlt %>"
      src="/images/<%= post.image %>"
    />
    <% } %>
    <!-- end image -->
    <% } %>
    <div
      class="post-list-item-content <%= model.guid && !post.image ? 'rounded' : '' %>"
    >
      <!-- title -->
      <% if (index < 1 ) { %>
      <!-- main index -->
      <% if (model.guid && !model.pagination.first) { %>
      <h1><a href="/<%= post.slug %>/"><%= post.title %></a></h1>
      <% } else { %>
      <h2><a href="/<%= post.slug %>/"><%= post.title %></a></h2>
      <% } %>
      <!-- end if guid -->
      <% } else { %>
      <h2><a href="/<%= post.slug %>/"><%= post.title %></a></h2>
      <% } %>

      <p class="post-meta">
        <% if (post.author && model.archives['author']) { %>
        <span>
          Author:
          <a
            href="/<%= model.archives['author'].find(item => item.name == post.author).slug %>/"
            ><%= post.author %></a
          >
        </span>
        <% } %>

        <span>
          <% if (post.createdDate == post.modifiedDate) { %>
          <span>Published: <%= new Date(post.createdDate).toLocaleDateString()%></span>
          <% } else { %>
          <span>Updated: <%= new Date(post.modifiedDate).toLocaleDateString() %></span>
          <% } %>
        </span>
      </p>

      <% if (post.metaDescription) { %>
      <p><%= post.metaDescription %></p>
      <% } %>

      <!-- post tags -->
      <% if (post.tags && model.archives['tags']) { %>
      <div class="tag-list-container">
        <span>Tags:</span>
        <ul class="tag-list">
          <% post.tags.forEach(function(tag) { %>
          <li>
            <a
              href="/<%= model.archives['tags'].find(item => item.name == tag).slug %>/"
              ><%= tag %></a
            >
          </li>
          <!-- end tags -->
          <% }); %>
        </ul>
      </div>
      <% } %>
    </div>
  </li>
  <% }); %>
</ul>

<% if (model.pagination.last || model.pagination.first) { %>
  <ul id="pagination-links">
    <% if (model.pagination.previous) { %>
    <li>
      <a class="newer" href="<%=`/${model.pagination.previous.slug}/` %>"
        >Newer
      </a>
    </li>
    <% } %>
    <!--  -->
    <% if (model.pagination.first) { %>
    <!--  -->
    <% if (!model.pagination.previous) { %>
    <li>
      <a class="newer" href="<%= `/${model.pagination.first.slug ? model.pagination.first.slug + "/": model.pagination.first.slug}` %>">Newer</a>
    </li>
    <% } %>
    <li>
      <a href="<%=`/${model.pagination.first.slug ? model.pagination.first.slug + "/" : model.pagination.first.slug}` %>"
        ><%= model.pagination.first.number %></a
      >
      <% if (model.pagination.previous && model.pagination.previous.number - model.pagination.first.number > 1){ %>
        ...
      <% } %>
    </li>
    <% } %>
    <!--  -->
    <% if (model.pagination.previous) { %>
    <li>
      <a href="<%=`/${model.pagination.previous.slug ? model.pagination.previous.slug + "/" : model.pagination.previous.slug}` %>"
        ><%= model.pagination.previous.number %>
      </a>
    </li>
    <% } %>
    <!--  -->
    <% if (model.pagination.current) { %>
    <li class="current">
      <a href="<%= `/${model.pagination.current.slug ? model.pagination.current.slug + "/" : model.pagination.current.slug}` %>">
        <%= model.pagination.current.number %></a
      >
    </li>
    <% } %>
    <!--  -->
    <% if (model.pagination.next) { %>
    <li>
      <a href="<%= `/${model.pagination.next.slug ? model.pagination.next.slug + "/" : model.pagination.next.slug}` %>">
        <%= model.pagination.next.number %></a
      >
    </li>
    <% } %>
    <!--  -->
    <% if (model.pagination.last) { %>
    <li>
      <% if (model.pagination.next && model.pagination.last.number - model.pagination.next.number > 1) { %>
        ...
      <% } %>
      <a href="<%= `/${model.pagination.last.slug ? model.pagination.last.slug + "/" : model.pagination.last.slug}` %>">
        <%= model.pagination.last.number %></a
      >
    </li>
    <% if (!model.pagination.next) { %>
    <li>
      <a class="older" href="<%= `/${model.pagination.last.slug ? model.pagination.last.slug + "/" : model.pagination.last.slug}` %>">Older</a>
    </li>
    <% } %>
    <!--  -->
    <% } %>
    <!--  -->
    <% if (model.pagination.next) { %>
    <li>
      <a class="older" href="<%= `/${model.pagination.next.slug ? model.pagination.next.slug + '/' : model.pagination.next.slug}` %>">Older</a>
    </li>
    <% } %>
    <!--  -->
  </ul>
<% } %>

