<head>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-5GTWSGP1V3"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-5GTWSGP1V3");
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= model.title && model.title != config.siteName ? model.title + " | " +
    config.siteName : config.siteName %>
  </title>
  <link rel="canonical" href="<%= model.canonical %>" />
  <% if (model.metaDescription) { %>
  <meta name="description" content="<%= model.metaDescription %>" />
  <% } %>
  <meta name="monetization" content="$ilp.uphold.com/UHNWGWxfXkNk" />
  <meta
    name="robots"
    content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <% if (model.tags || !model.guid || !model.slug || model.pagination) { %>
  <script type="text/javascript">
    window._mNHandle = window._mNHandle || {};
    window._mNHandle.queue = window._mNHandle.queue || [];
    medianet_versionId = "3121199";
  </script>
  <script
    src="https://contextual.media.net/dmedianet.js?cid=8CUF477P7"
    async="async"
  ></script>
  <% } %>
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#000000" />
  <meta
    property="og:title"
    content="<%= model.title ? model.title + ' | ' + config.siteName : config.siteName %>"
  />
  <meta
    property="og:type"
    content="<%= model.slug ? 'article' : 'website' %>"
  />
  <meta
    property="og:url"
    content="<%= config.environment.domain + '/' + (model.slug ? model.slug + '/' : '') %>"
  />
  <meta
    property="og:image"
    content="<%= config.environment.domain + (model.image ? '/images/' + model.image : '/favicon_v2.png') %>"
  />
  <meta property="og:description" content="<%= model.metaDescription %>" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@devextent" />
  <meta
    name="twitter:title"
    content="<%= model.title ? model.title + ' | ' + config.siteName : config.siteName %>"
  />
  <meta name="twitter:description" content="<%= model.metaDescription %>" />
  <meta
    name="twitter:image"
    content="<%= config.environment.domain + (model.image ? '/images/' + model.image : '/favicon_v2.png') %>"
  />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" href="/favicon_v2.ico" type="image/x-icon" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS 2.0"
    href="<%=  config.environment.domain + '/feed.rss' %>"
  />
  <%- model.styles %>
</head>
