<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include(config.folders.layouts.path + '/partials/head'); -%>
  <body>
    <!-- main -->
    <div class="grid-wrapper full-width">
      <%- include(config.folders.layouts.path + '/partials/header'); -%>
      <main id="main">
        <!-- image -->
        <% if (model.image) { %>
        <img
          height="350"
          width="927"
          class="post-image"
          alt="<%= model.imageAlt %>"
          src="/images/<%= model.image %>"
        />
        <% } %>
        <!-- content -->
        <% if (model.title && model.guid) { %>
        <div
          class="article-content-wrapper <%= model.image ? 'has-image' : '' %>"
        >
          <% } %>
          <!-- title -->
          <% if (model.title) { %>
          <h1><%= model.title %></h1>
          <% } %>
          <!-- mainContent-->
          <%- model.content %>
          <!-- end content -->
          <% if (model.title && model.guid) { %>
        </div>
        <% } %>
      </main>
      <footer id="footer">
        <%- include(config.folders.layouts.path + '/partials/footer'); -%>
      </footer>
    </div>
  </body>
</html>
