<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include(config.folders.layouts.path + '/partials/head'); -%>
  <body>
    <!-- main -->
    <div class="grid-wrapper">
      <header id="header">
        <nav>
          <a href="/">Dev Extent</a>
        </nav>
      </header>
      <main id="main">
        <article>
          <!-- image -->
          <% if (model.image) { %>
          <img
            height="350"
            width="927"
            class="post-image"
            alt="<%= model.imageAlt %>"
            src="/images/<%= model.image %>"
          />
          <% } %>
          <!-- content -->
          <% if (model.title && model.guid) { %>
          <div
            class="article-content-wrapper <%= model.image ? 'has-image' : '' %>"
          >
            <% } %>
            <!-- title -->
            <% if (model.title) { %>
            <h1 class="title"><%= model.title %></h1>
            <h2 class="visually-hidden">Main Content</h2>
            <!--  -->
            <% } %>
            <!--  -->
            <% if (model.title && model.guid && model.tags) { %>
            <!-- meta -->
            <%- include(config.folders.layouts.path + "/partials/postMeta") %>
            <!--  -->
          </div>

          <div class="article-content-wrapper">
            <!--  -->
            <% } %>
            <!--  -->
            <% if (model.layout.startsWith("archives/")) { %>
            <!--  -->
            <%- include(config.folders.layouts.path + '/' + model.layout) %>
            <!--  -->
            <% } else { %>
            <!--  -->
            <%- model.content %>
            <!--  -->
            <% if (model.path.startsWith("posts/")) { %>

            <p class="edit-post-line">
              <a
                href="https://github.com/jdedwards3/devextent/blob/main/content/<%= model.path %>"
                >Edit this post on GitHub</a
              >
            </p>
            <% } %>
            <!--  -->
            <% } %>
            <!-- end content -->
            <% if (model.title && model.guid) { %>
          </div>
          <% } %>
        </article>
      </main>
      <aside id="aside">
        <%- include(config.folders.layouts.path + '/partials/sidebar'); -%>
      </aside>
      <footer id="footer">
        <%- include(config.folders.layouts.path + '/partials/footer'); -%>
      </footer>
    </div>
    <script
      type="module"
      src="/scripts/<%= config.version %>/script.js"
    ></script>
  </body>
</html>
