<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include(config.folders.layouts.path + '/partials/head'); -%>
  <body>
    <!-- main -->
    <div class="grid-wrapper">
      <header id="header">
        <nav>
          <a href="/">Dev Extent</a>
        </nav>
      </header>
      <main id="main">
        <article>
          <!-- image -->
          <% if (model.image) { %>
          <img
            height="350"
            width="927"
            class="post-image"
            alt="<%= model.imageAlt %>"
            src="/images/<%= model.image %>"
          />
          <% } %>
          <!-- content -->
          <% if (model.title && model.guid) { %>
          <div
            class="article-content-wrapper <%= model.image ? 'has-image' : '' %>"
          >
            <% } %>
            <!-- title -->
            <% if (model.title) { %>
            <h1 class="title"><%= model.title %></h1>
            <h2 class="visually-hidden">Main Content</h2>
            <!--  -->
            <% } %>
            <!--  -->
            <% if (model.title && model.guid && model.tags) { %>
            <!-- meta -->
            <%- include(config.folders.layouts.path + "/partials/postMeta") %>
            <!--  -->
          </div>
          <% if (model.tags) { %>

          <div class="image-content-wrapper">
            <ins
              class="adsbygoogle large"
              data-ad-client="ca-pub-6747903070938911"
              data-ad-slot="1389153429"
            ></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>

          <% } %>

          <div class="article-content-wrapper">
            <!--  -->
            <% } %>
            <!--  -->
            <% if (model.layout.startsWith("archives/")) { %>
            <!--  -->
            <%- include(config.folders.layouts.path + '/' + model.layout) %>
            <!--  -->
            <% } else { %>
            <!--  -->
            <%- model.content %>
            <!--  -->
            <% if (model.path.startsWith("posts/")) { %>

            <p class="edit-post-line">
              <a
                href="https://github.com/jdedwards3/devextent/blob/main/content/<%= model.path %>"
                >Edit this post on GitHub</a
              >
            </p>
            <% } %>
            <!--  -->
            <% } %>
            <!-- end content -->
            <% if (model.title && model.guid) { %>
          </div>
          <% } %>
        </article>
      </main>
      <aside id="aside">
        <h2 class="visually-hidden">Sidebar</h2>
        <%- include(config.folders.layouts.path + '/partials/sidebar'); -%>
        <!--  -->
        <% if (model.tags) { %>
        <div class="aside-inner-container">
          <div class="aside-inner">
            <ins
              class="adsbygoogle"
              style="display: block; width: 300px; height: 250px"
              data-ad-client="ca-pub-6747903070938911"
              data-ad-slot="4784056619"
            ></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
        <% } %>
      </aside>
      <footer id="footer">
        <%- include(config.folders.layouts.path + '/partials/footer'); -%>
      </footer>
    </div>
    <script
      type="module"
      src="/scripts/<%= config.version %>/script.js"
    ></script>
  </body>
</html>
